/* src/app/features/home/home.component.scss */
.home-hero {
  background: var(--color-primary);

  // qui metti la tua immagine
  background-image: url('assets/images/primo-piano-di-un-calzolaio-che-lavora-con-tessuto-pelle.jpg');
  background-size: cover;           // riempie tutto il contenitore
  background-position: center;      // centra l’immagine
  background-repeat: no-repeat;     // evita ripetizioni


  color: var(--color-text);
  padding: 4rem 2rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 0.5rem;

  .hero-text {
    max-width: 600px;
    margin: 0 auto;
  }

  h1 {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 1px 1px black;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
    text-shadow: 1px 1px black;
  }

  .cta {
    background: var(--color-accent);
    color: var(--color-text);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.2s;
    font-family: var(--font-sans);

    &:hover {
      background: var(--color-primary-hover);
    }
  }
}
